{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
 
       <div class="flex justify-center items-center h-screen flex-col bg-custom-black">       
       
        <div class="w-full max-w-xs">
            <form method="post" class="bg-black shadow-md rounded-lg px-8 pt-6 pb-8 mb-4">

                <h1 class="text-custom-blue text-6xl font-bold mb-6" id="animated-title">Stare it</h1>
                
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {# {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %} #}

                <div class="mb-4">
                     <label class="block text-custom-blue text-sm font-bold mb-2" for="inputEmail">Email</label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="inputEmail"
			            name="email" 
			            autocomplete="email"
			            class="form-control"
                        type="email"
                        placeholder="Email"
                        value="{{ last_username  }}"
                        oninput="email = this.value"
                    required autofocus>
                </div>
                <div class="mb-6">
                     <label class="block text-custom-blue text-sm font-bold mb-2" for="inputPassword">
                        Mot de passe
                    </label>
                    <input
                        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                        id="inputPassword"
			            name="password"
			            class="form-control"
                        type="password"
			            autocomplete="current-password"
                        placeholder="Mot de passe"
                        value="{{ password ?? '' }}"
                        oninput="password = this.value"
                    required>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >
                </div>
                <div class="flex items-center justify-between">
                    <div class="btn-two">
                        <button class="bg-custom-blue hover:bg-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
                            Se connecter
                        </button>
                    </div>
                
                    <div class="btn-two">
                        <button type="button" class="bg-custom-purple hover:bg-custom-blue text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" >
                           <a href="{{ path('app_register') }}"> S'inscrire</a>   
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
