{% extends 'base.html.twig' %}

{% block title %}register.html.twig{% endblock %}

{% block body %}
    <!-- Bouton "Home" en haut à gauche, plus gros (text-2xl) -->
    <a href="{{ path('app_login') }}" class="absolute top-0 left-0 m-4 bg-custom-purple hover:bg-custom-blue text-white font-bold py-2 px-4 rounded text-2xl">Connexion</a>

    <div class="flex justify-center items-center h-screen bg-black text-white flex-col">
        <!-- Texte "Inscription" en gras et avec une transition de couleur -->
        <h1 id="inscription" class="text-4xl mb-6 text-center {% if form_errors(registrationForm) %}{% else %}text-custom-blue{% endif %} bold-text">Inscription</h1>

        <div class="w-full max-w-xs">
            {{ form_errors(registrationForm) }}

            <!-- Formulaire d'inscription -->
            {{ form_start(registrationForm, {'class': 'bg-custom-black p-6 rounded-lg shadow-lg'}) }}
                <div class="mb-4 text-center">
                    {{ form_row(registrationForm.prenom, {'attr': {'class': 'bg-gray-200 border border-gray-200 rounded p-2 w-full focus:outline-none focus:border-custom-blue text-custom-blue'}}) }}
                </div>
                <div class="mb-4 text-center">
                    {{ form_row(registrationForm.nom, {'attr': {'class': 'bg-gray-200 border border-gray-200 rounded p-2 w-full focus:outline-none focus:border-custom-blue text-custom-blue'}}) }}
                </div>
                <div class="mb-4 text-center">
                    {{ form_row(registrationForm.email, {'attr': {'class': 'bg-gray-200 border border-gray-200 rounded p-2 w-full focus:outline-none focus:border-custom-blue text-custom-blue'}}) }}
                </div>
                <div class="mb-4 text-center">
                    {{ form_row(registrationForm.password, {
                        'label': 'Password',
                        'attr': {'class': 'bg-gray-200 border border-gray-200 rounded p-2 w-full focus:outline-none focus:border-custom-blue text-custom-blue'}
                    }) }}
                </div>
                <div class="mb-4 text-center">
                    <!-- Modifier le texte "Agree Terms" en "J'accepte les conditions" -->
                    {{ form_row(registrationForm.agreeTerms, {'label': 'J\'accepte les conditions', 'attr': {'class': 'mb-2 w-full'}}) }}
                </div>
                <!-- Modifier le texte du bouton "Register" en "S'inscrire" -->
                <button type="submit" class="bg-custom-blue font-bold py-2 px-4 rounded w-full text-custom-white">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}
